body {
    
    font-family: 'Poppins', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', sans-serif;
    color: purple;
    text-align: center;
 
  }
  .navbar-brand {
    font-family: 'Lobster';
    font-size: 40px;
  
  }
  .navbar-brand img {
    width: 70px;
    height: 70px;
  }
  .navbar-light .navbar-brand {
    color:purple;
  }
  
  .navbar {
    background-color: white;
  }
  
  .jumbotron {
    background-attachment: fixed;
    background-image: url(relocation.jpg);
    background-repeat: no-repeat;
    background-size: auto ;
  
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  .testimonials {
    background-color: #eeeeee;
  }
  
  .media img {
    width: 64px;
    height: 64px;
  }
  
  .pricing {
    background-color: purple;
  }
  .pricing h1 {
    font-family: 'Permanent Marker', cursive;
    color: #cccccc;
  }
  
  .footer img {
    width: 100px;

  }